@use "../../../../variables.scss" as *;
.ruby2-section8 {
  width: 100%;
  margin: 6rem 0;
  @media screen and (max-width: 480px) {
    margin: 3rem 0;
  }
  .ruby2-section8-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    .ruby2-section8-container-heading {
      font-size: 2.5rem;
      font-weight: 700;
      text-align: center;
      font-family: sans-serif;
      color: $green;
      @media screen and (max-width: 480px) {
        font-size: 2rem;
      }
    }
    .ruby2-section8-container-outright {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      border: 0.75rem double $green;
      @media screen and (max-width: 768px) {
        width: 70%;
      }
      @media screen and (max-width: 480px) {
        width: 90%;
      }
      .ruby2-section8-container-value {
        font-size: 4rem;
        font-weight: 600;
        font-family: "Courier New", Courier, monospace;
        text-align: center;
      }
      .ruby2-section8-container-desc {
        font-size: 1.2rem;
        font-size: 500;
        margin-bottom: 1rem;
      }
      hr {
        width: 100px;
        height: 0px;
        border: 1px solid black;
      }
    }
    .ruby2-section8-container-price-plan {
      width: 100%;
      .price-plan-heading {
        font-size: 1.5rem;
        font-weight: 700;
        width: 80%;
        margin: 2rem auto 0px;
        font-family: "Courier New", Courier, monospace;
        @media screen and (max-width: 768px) {
          width: 90%;
        }
      }
      .ruby2-section8-container-price-plan-container {
        width: 80%;
        margin: 1rem auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
          width: 90%;
          gap: 30px;
        }
        @media screen and (max-width: 640px) {
        }
        .price-plan-container-price-plan-card {
          width: 30%;
          height: max-content;
          background-color: #fafafa;
          border-radius: 10px;
          @media screen and (max-width: 768px) {
            width: 47%;
          }

          @media screen and (max-width: 480px) {
            width: 100%;
          }
          .price-plan-card-title {
            background-color: #8b673d;
            color: white;
            width: 100%;
            text-align: center;
            padding: 0.75rem 0px;
            font-size: 1.3rem;
            font-weight: 600;
          }
          ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 1.2rem;

            li {
              width: 90%;
              margin: auto;
              list-style: none;
              display: flex;
              padding-bottom: 10px;
              justify-content: space-between;
              border-bottom: 0.5px solid rgb(227, 226, 226);
              align-items: center;
              font-size: 1rem;
              .initialValue {
                color: $green;
              }
              .totalValue {
                font-size: 1.3rem;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}
