.ridgewoodlocation-heading {
  font-size: 2.5rem;
  font-weight: 600;
}
.ridgewoodlocation-heading2 {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #066756;
  font-size: 1rem;
  margin-bottom: 20px;
  hr {
    width: 100px;
    height: 0px;
    border: 1px solid #7b7f7e;
  }
}
.ridgewoodlocation-container {
  display: flex;
  gap: 50px;
  .ridgewoodlocation-text {
    ul {
      list-style: disc;
      margin: 20px auto;

      li {
        padding: 10px 0px 0px 10px;
      }
    }
    .quote {
      font-style: italic;
      font-weight: 300;
    }
  }
}
