@use "../../variables.scss" as *;
.form {
  margin: 6rem auto;
  .form-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (max-width: 1080px) {
      width: 90%;
    }
    .form-container-title {
      font-size: 1.7rem;
      font-weight: 700;
      position: relative;
      color: $green;
      &::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 0px;
        border: 1px solid $light_gold;
        left: 0;
        bottom: 0;
      }
    }
    .form-container-top {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
      .form-container-top-input {
        width: 49%;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1080px) {
          width: 48%;
        }
        @media screen and (max-width: 480px) {
          width: 100%;
        }
        .input-title {
          font-size: 1em;
          font-weight: 600;
          margin-bottom: 5px;
        }
        select {
          width: 100%;
          padding: 0.75em;
          font-size: 1em;
          font-family: "Poppins", sans-serif;
          outline: none;
          border: 0.5px solid #bebdbd;
          transition: 0.3s all ease;
          background-image: url("../../assets//images/arrowdown.svg");
          background-size: 0.8em 0.7rem;
          background-repeat: no-repeat;
          background-position: right 0.9em center;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          &:focus {
            box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            -webkit-box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            -moz-box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            border: 0.5px solid $border_green;
          }
        }
        input {
          width: 100%;
          padding: 0.7em;
          font-size: 1em;
          font-family: "Poppins", sans-serif;
          outline: none;
          border: 0.5px solid #bebdbd;
          transition: 0.3s all ease;

          &:focus {
            box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            -webkit-box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            -moz-box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            border: 0.5px solid $border_green;
          }
        }
      }
    }
    .form-container-center {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
      margin-top: 20px;
      .form-container-center-input {
        width: 49%;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1080px) {
          width: 48%;
        }
        @media screen and (max-width: 480px) {
          width: 100%;
        }
        .input-title {
          font-size: 1em;
          font-weight: 600;
          margin-bottom: 5px;
        }
        select {
          width: 100%;
          padding: 0.75em;
          font-size: 1em;
          font-family: "Poppins", sans-serif;
          outline: none;
          border: 0.5px solid #bebdbd;
          transition: 0.3s all ease;
          background-image: url("../../assets//images/arrowdown.svg");
          background-size: 0.8em 0.7rem;
          background-repeat: no-repeat;
          background-position: right 0.9em center;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          &:focus {
            box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            -webkit-box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            -moz-box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            border: 0.5px solid $border_green;
          }
        }
        input {
          width: 100%;
          padding: 0.7em;
          font-size: 1em;
          font-family: "Poppins", sans-serif;
          outline: none;
          border: 0.5px solid #bebdbd;
          transition: 0.3s all ease;

          &:focus {
            box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            -webkit-box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            -moz-box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            border: 0.5px solid $border_green;
          }
        }
      }
    }
    .form-container-bottom {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
      .form-container-bottom-input {
        width: 100%;
        display: flex;
        flex-direction: column;
        .input-title {
          font-size: 1em;
          font-weight: 600;
          margin-bottom: 5px;
        }
        select {
          width: 100%;
          padding: 0.75em;
          font-size: 1em;
          font-family: "Poppins", sans-serif;
          outline: none;
          border: 0.5px solid #bebdbd;
          transition: 0.3s all ease;
          background-image: url("../../assets//images/arrowdown.svg");
          background-size: 0.8em 0.7rem;
          background-repeat: no-repeat;
          background-position: right 0.9em center;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          &:focus {
            box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            -webkit-box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            -moz-box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            border: 0.5px solid $border_green;
          }
        }

        textarea {
          width: 100%;
          padding: 0.7em;
          font-size: 1em;
          font-family: "Poppins", sans-serif;
          outline: none;
          border: 0.5px solid #bebdbd;
          transition: 0.3s all ease;

          &:focus {
            box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            -webkit-box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            -moz-box-shadow: 0px 0px 5px 2px rgba(231, 229, 229, 0.72);
            border: 0.5px solid $border_green;
          }
        }
      }
    }
    .form-container-media {
      margin-top: 2rem;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      @media screen and (max-width: 768px) {
        width: 100%;
      }

      .form-container-media-title {
        font-size: 1rem;
      }
      .form-container-media-checkbox {
        display: flex;
        gap: 20px;
        align-items: center;
        .form-container-media-checkbox-container {
          display: flex;
          align-items: center;
          gap: 10px;
          label {
            font-size: 1rem;
            cursor: pointer;
          }
          input[type="checkbox"] {
            display: none;
          }
          input[type="checkbox"] + label::before {
            content: "\2714";
            width: 15px;
            height: 15px;
            border: 0.5px solid #bebdbd;
            border-radius: 5px;
            padding: 0px 0.4rem;
            margin-right: 1rem;
            color: transparent;
            transition: 0.3s all ease;
            @media screen and (max-width: 320px) {
              margin-right: 0.5rem;
            }
          }
          input[type="checkbox"]:checked + label::before {
            background-color: $green;
            color: #fff;
          }
        }
      }
      .form-button {
        width: 40%;
        font-size: 1rem;
        display: inline-block;
        background-color: $green;
        color: white;
        padding: 0.7em 1em;
        font-weight: bold;
        border-radius: 6px;
        border: none;
        transition: 0.2s ease all;
        cursor: pointer;

        &:hover {
          background-color: var(--buttonHover, #a77d4b);
          transform: scale(1.05);
        }
      }
    }
  }
}
