.about-section1 {
  margin-bottom: 100px;
  .about-section1-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    @media screen and (max-width: 640px) {
      width: 90%;
    }
    .about-section1-container-title {
      font-size: 3rem;
      font-weight: 700;
      color: #066756;
      position: relative;
      text-align: center;
      &::before {
        content: "";
        width: 200px;
        height: 0px;
        position: absolute;
        bottom: 0;
        left: 35%;
        border: 2px solid #ebb069;
        @media screen and (max-width: 380px) {
          display: none;
        }
        @media screen and (max-width: 640px) {
          width: 100px;
          left: 37%;
        }
      }
      @media screen and (max-width: 640px) {
        font-size: 2.5rem;
      }
    }
    .about-section1-container-top {
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
    }
    .about-section1-container-bottom {
      font-size: 1rem;
      text-align: center;
      font-weight: 500;
    }
  }
}
