.ridgewood-section2 {
  display: flex;
  margin: 10rem auto;
  gap: 50px;
  @media screen and (max-width: 425px) {
    flex-direction: column;
  }
  .ridgewood-section2-left {
    flex: 1;
  }
  .ridgewood-section2-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .ridgewood-section2-right-title {
      font-size: 1.75rem;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }
    .ridgewood-section2-right-desc {
      span {
        display: block;
        margin-top: 10px;
      }
    }
    .ridgewood-section2-right-property {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .ridgewood-section2-right-property-item {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
  }
}
