@use "../../variables.scss" as *;
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    width: max-content;
    font-size: 3.5rem;
    color: $green;
    margin-bottom: 1em;
    position: relative;
    &::before {
      content: "";
      width: 100px;
      height: 0px;
      position: absolute;
      bottom: 0;
      left: 0;
      border: 2px solid #ebb069;
      @media screen and (max-width: 768px) {
        left: 30%;
      }
    }
  }
  .ridgewood-comp-container {
    width: 90%;
    height: 250px;

    .ridgewood-comp {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 250px;
        object-fit: fill;
      }
    }
  }
}
