@use "../../../../variables.scss" as *;
.caribbean-section3 {
  width: 100%;
  margin: 6rem auto;
  .caribbean-section3-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .caribbean-section3-container-top {
      color: #232221;
      .caribbean-section3-container-top-title1 {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
      }
      .caribbean-section3-container-top-title2 {
        text-align: center;
        font-size: 1rem;
      }
    }
    .caribbean-section3-container-bottom {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 2rem auto;
      justify-content: space-evenly;
      row-gap: 10px;

      .caribbean-section3-container-bottom-item {
        width: 25%;
        padding: 1rem 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        color: #232221;
        @media screen and (max-width: 425px) {
          width: 50%;
        }
        .caribbean-section3-container-bottom-item-icon {
          flex: 3;
          width: 25%;
        }
        // &:nth-child(odd) > .caribbean-section3-container-bottom-item-icon {
        //   font-size: 70px;
        // }
        // &:nth-child(even) > .caribbean-section3-container-bottom-item-icon {
        //   font-size: 70px;
        // }
        .caribbean-section3-container-bottom-item-desc {
          flex: 2;
          text-transform: capitalize;
          font-size: 1rem;
          color: $green;
          padding-top: 1rem;
          font-weight: 500;
        }
      }
    }
  }
}
