@use "../../../../variables.scss" as *;
.co_ownership-section3 {
  width: 100%;
  margin: 6rem auto;
  .co_ownership-section3-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    .co_ownership-section3-container-top {
      color: #232221;
      .co_ownership-section3-container-top-title1 {
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
        color: $green;
      }
      .co_ownership-section3-container-top-title2 {
        text-align: center;
        font-size: 1rem;
      }
    }
    .co_ownership-section3-container-bottom {
      display: flex;
      flex-wrap: wrap;
      margin: 2rem auto;
      justify-content: space-evenly;
      row-gap: 10px;

      .about-section3-container-item {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #f9f9f9;
        padding: 1rem;
        transition: 0.3s all ease;
        &:hover {
          transform: scale(1.05);
        }
        @media screen and (max-width: 425px) {
          width: 90%;
        }
        .about-section3-container-item-image {
          width: 30%;
        }
        .about-section3-container-item-title {
          font-size: 1.5rem;
          font-weight: 500;
          position: relative;
          color: #066756;
          &::before {
            content: "";
            width: 100px;
            height: 0px;
            position: absolute;
            bottom: 0;
            left: 0;
            border: 1px solid #ebb069;
          }
        }
      }
    }
    .about-section3-readmore {
      width: fit-content;
      padding: 0.5em 0.8em;
      font-size: 1rem;
      text-decoration: none;

      background-color: $green;
      color: white;
      outline: none;
      border: none;
      border-radius: 5px;
      transition: 0.3s all ease;
      &:hover {
        background-color: $gold;
        cursor: pointer;
      }
    }
  }
}
